body {
  color: #a45c5c;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}

.weather-app {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 246, 236) 39.5%,
    rgba(100, 46, 122, 0.23) 100.2%
  );
  border-style: solid;
  border-radius: 5px;
  border: rgb(254, 246, 236);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
  margin: 20px auto;
  max-width: 650px;
  padding: 10px;
}

.weather-app-wrapper {
  margin: 20px auto;
  max-width: 650px;
}

.date {
  font-size: 15px;
  margin-bottom: 0;
  text-align: left;
}

.change-city {
  border-color: #dfe9f3;
  border-width: 1px;
  font-size: 15px;
  text-align: right;
}

.search-button {
  background: rgb(254, 246, 236, 0.8);
  border-color: rgb(254, 246, 236);
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  color: #a45c5c;
  font-size: 15px;
  transition: all 200ms ease-in-out;
}

.search-button:hover {
  background: rgb(255, 250, 241);
}

h1 {
  font-size: 23px;
  padding-top: 40px;
}

.details {
  font-size: 12px;
}

.temperature {
  color: #dc7646;
  font-size: 100px;
  font-weight: 600;
  line-height: 1;
}

.degrees {
  font-size: 20px;
  font-weight: 500;
  vertical-align: 57px;
}

.weather-forecast {
  margin-top: 40px;
}

.forecast-wrapper {
  background-color: rgb(227, 214, 227, 0.6);
  border: rgb(254, 246, 236);
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
}

.weather-forecast-temperature-max {
  font-weight: bolder;
}

.weather-forecast-temperature-min {
  font-weight: lighter;
}

.source {
  font-size: small;
  text-align: left;
}

.source-link {
  text-decoration: underline;
  color: #a45c5c;
}

.source-link:hover {
  color: #ffc7c7;
}
